*,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,img,button,p {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
h1{
    display: flex;
    align-items: center;
    padding:1rem;
}
:root{
    --var-header-height: 100px;
    --var-ffooter-height: 30px;
    --var-main-height: calc(100vh - var(--var-header-height) - var(--var-ffooter-height));
    --var-border:1px solid #eee;
}
body {
    font-family: "Fira Code", monospace;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #eee;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(0, 0, 0, 0.5) 1px, transparent 1px);
    background-size: 2px 2px, 2px 2px;
}
header,footer{
    display: flex;
    text-align: center;
}
header {
    height: var(--var-header-height);
    border-bottom: var(--var-border);
}
footer {
    height: var(--var-ffooter-height);
    border-top:var(--var-border)
}
main {
    display: flex;
    justify-content: space-between;
    height: var(--var-main-height);
}
aside,section{
    padding:1rem;
}
aside {
    flex: 1;
    min-width: 25vw;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: var(--var-border)
}
section{
    flex: 1;
    min-width: 70vw;
}
.toggle-button{
    color:black;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}