<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to SVG Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <h1>PDF to SVG Converter</h1>
        <button id="toggle-upload">Toggle Upload</button>
    </header>
    <section id="upload-container">
        <div>
        <section class="upload-section">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Upload PDF:</label>
                <input type="file" name="file" id="file" accept=".pdf" required>
                <button type="submit">Upload</button>
            </form>
        </section>
        <section class="preview-section">
            <h2>PDF Preview</h2>
            <div id="pdf-preview">
                <p>No PDF selected</p>
            </div>
        </section>
        </div>
    </section>
    <main>
        <section class="converted-files-section">
            <h2>Converted SVG Files</h2>
            <div class="image-grid">
                {% for svg_file in svg_files %}
                <div class="image-item">
                    <a href="{{ url_for('download_file', filename=svg_file) }}">
                        <img src="{{ url_for('download_file', filename=svg_file) }}" alt="{{ svg_file }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 PDF to SVG Converter</p>
    </footer>
</body>
</html>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
