<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to SVG Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    <div id="app">
        <header>
            <h1>PDF to SVG Converter</h1>

        </header>

        <main>

            <aside id="upload-container">
        
                <div>
                    <div class="upload-section">
                        <form method="post" enctype="multipart/form-data">
                            <label for="file">Upload File:</label>
                            <input type="file" name="files" id="file" accept=".pdf, .jpg, .jpeg, .png, .svg, .webp"
                                multiple required>
                            <label>
                                <input type="checkbox" name="formats" value="svg"> SVG
                            </label>
                            <label>
                                <input type="checkbox" name="formats" value="png"> PNG
                            </label>
                            <label>
                                <input type="checkbox" name="formats" value="jpg"> JPG
                            </label>
                            <label>
                                <input type="checkbox" name="formats" value="webp"> WEBP
                            </label>
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                    <div class="preview-section">
                        <h2>Image Preview</h2>
                        <div id="image-list"></div>
                        <div id="image-preview">
                            <p>No Files selected</p>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="toggle-button" id="toggle-upload"> Toggle Upload </div>

            <section class="converted-files-section">
                <div id="conversion-popup" class="popup" style="display:none;">
                    <div class="popup-content">
                        <span class="close-button">&times;</span>
                        <h2>Conversion Progress</h2>
                        <div id="conversion-log"></div>
                    </div>
                </div>
                <h2>Converted Files</h2>
                <div class="image-grid">
                    {% for file in svg_files %}
                    <div class="image-item">
                        <a href="{{ url_for('download_file', filename=file) }}">
                            <img src="{{ url_for('download_file', filename=file) }}" alt="{{ file }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>


        </main>



        <footer>
           &copy; 2025 PDF to SVG Converter
        </footer>
    </div>
</body>

</html>
<script src="https://unpkg.com/page/page.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>