<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Conversion in Progress</h1>
    <p id="status">Checking progress...</p>
    <ul id="files"></ul>
    <script src="{{ url_for('static', filename='../static/js/scripts.js') }}"></script>
    <script>
        const filename = "{{ filename }}";
        checkProgress(filename);
    </script>
</body>
</html>